$wrapper_width: 100%;
$col_width: 458px;
$neon-purple: #3700ff;
$dull-purple: #4F54B3;
$dark-purple: #3E3E74;
$dark: #2d2d2d;
$aqua: #EFF7F8;
$light_border: #E7E7E7;

@font-face {
    font-family: 'gt_americacondensed_bold';
    src: url('../assets/fonts/gt-america-condensed-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/gt-america-condensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'spectral_bold';
    src: url('../assets/fonts/spectral-bold.woff') format('woff2'),
         url('../assets/fonts/spectral-bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu_light';
    src: url('../assets/fonts/Apercu-Light.woff') format('woff2'),
         url('../assets/fonts/Apercu-Light.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu';
    src: url('../assets/fonts/Apercu-Regular.woff') format('woff2'),
         url('../assets/fonts/Apercu-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu_bold';
    src: url('../assets/fonts/Apercu-Bold.woff') format('woff2'),
         url('../assets/fonts/Apercu-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin greyBG {
  position: absolute;
  background-color: #F3F3F3;
  left: -9px;
  right: -9px;
  top: -9px;
  bottom: -9px;
  border-radius: 3px;
  content: '';
}

// @font-face {
//     font-family: 'plex_sans_thin';
//     src: url('../assets/fonts/IBMPlexSans-Thin-Latin1.woff2') format('woff2'),
//          url('../assets/fonts/IBMPlexSans-Thin-Latin1.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'plex_sans_text';
//     src: url('../assets/fonts/IBMPlexSans-Text-Latin1.woff2') format('woff2'),
//          url('../assets/fonts/IBMPlexSans-Text-Latin1.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'plex_sans_semiBold';
//     src: url('../assets/fonts/IBMPlexSans-SemiBold-Latin1.woff2') format('woff2'),
//          url('../assets/fonts/IBMPlexSans-SemiBold-Latin1.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'plex_sans_regular';
//     src: url('../assets/fonts/IBMPlexSans-Regular-Latin1.woff2') format('woff2'),
//          url('../assets/fonts/IBMPlexSans-Regular-Latin1.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'plex_sans_medium';
//     src: url('../assets/fonts/IBMPlexSans-Medium-Latin1.woff2') format('woff2'),
//          url('../assets/fonts/IBMPlexSans-Medium-Latin1.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'plex_sans_light';
//     src: url('../assets/fonts/IBMPlexSans-Light-Latin1.woff2') format('woff2'),
//          url('../assets/fonts/IBMPlexSans-Light-Latin1.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'plex_sans_extraLight';
//     src: url('../assets/fonts/IBMPlexSans-ExtraLight-Latin1.woff2') format('woff2'),
//          url('../assets/fonts/IBMPlexSans-ExtraLight-Latin1.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'plex_sans_bold';
//     src: url('../assets/fonts/IBMPlexSans-Bold-Latin1.woff2') format('woff2'),
//          url('../assets/fonts/IBMPlexSans-Bold-Latin1.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'plex_sans_cond_bold';
//     src: url('../assets/fonts/IBMPlexSansCondensed-Bold-Latin1.woff2') format('woff2'),
//          url('../assets/fonts/IBMPlexSansCondensed-Bold-Latin1.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
  font-size: 18px;
  font-weight: 300;
}

h1,h2, h3 {
  font-weight: 700;
  font-family: 'gt_americacondensed_bold';
}

h1 {
  font-size: 60px;
  line-height: 1.1;
}

h2 {
  font-size: 45px;
  margin: 0;
}

h3 {
  font-size: 38px;
}

h4 {
  margin: 0;
  font-weight: 100;
  font-size: 15px;
  color: #585858;
  text-align: center;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: $neon-purple;
}

.Wrapper {
  width: $wrapper_width;
  padding: 0 64px;
  margin: 0 auto 50px auto;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  display: inline-block;
}

.bottom {
  img {
    object-position: 50% 100%;
  }
}

.top {
  img {
    object-position: 50% 0%;
  }
}

.left {
  img {
    object-position: 0% 50%;
  }
}

.right {
  img {
    object-position: 100% 50%;
  }
}


// LAYOUT STYLES

.full_bleed {
  .img_wrap {
    &:before {
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
    }
  }
}

.full_bleed_split {
  .img_wrap {

    &:nth-child(odd){
      &:before {
        left: 0;
        bottom: 0;
        right: 6px;
        top: 0;
      }
    }
    &:nth-child(even){
      &:before {
        left: 6px;
        bottom: 0;
        right: 0;
        top: 0;
      }
    }

  }
}

.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 62px;
  line-height: 62px;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity .3s ease;
  will-change: opacity;

  &.is-visible {
    opacity: 1;
  }

  .back {
    color: black;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    width: 44px;
    height: 100%;
    margin: 0 0 0 9px;
    vertical-align: middle;
    border-right: 1px solid #e0e0e0;
    padding-right: 51px;
    top: -2px;

    .bubble {
      background-color: #f3f3f3;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: all .3s ease;
      will-change: all;
      transform: scale(0);
      opacity: 0;
      width: 35px;
      height: 35px;
      position: relative;
      top: 13px;
      left: 4px;
    }

    &:hover {
      .bubble {
        transform: scale(1);
        opacity: 1;

      }
    }
  }

  .grid {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 23px;
    left: 14px;

    span {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      position: absolute;
      background: $neon-purple;
    }
    .tl {

    }
    .tr {
      left: 10px;
    }
    .bl {
      top: 10px;
    }
    .br {
      left: 10px;
      top: 10px;
    }
  }

  h1, h3 {
    font-weight: normal;
    font-size: 20px;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  h4 {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    text-align: left;
    padding: 0;
    display: inline-block;
    margin: 0 0 0 16px;
    position: relative;
    opacity: 0;
    top: -1px;
    color: #5934f6;
  }

  .interpunct {
    font-size: 16px;
    margin: 0 -1px 0 -2px;
  }

  h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 16px;
    padding: 0;
    margin: 0 0 0 -3px;
    display: inline-block;
  }

  h3 {
    position: absolute;
    text-align: center;
    padding: 0;
    left: 210px;
    right: 0;
    text-indent: -210px;

    span {
      opacity:0;

      &.is-visible {
        opacity: 1;
      }

      &:before {
        content: ':';
        margin-right: 12px;
      }
    }
  }

  .rightTools {
    float: right;
    border-left: 1px solid #e0e0e0;
    height: 100%;
    padding: 0 20px;
  }

  $countBubbleSize: 26px;
  .count {
    background: $neon-purple;
    height: $countBubbleSize;
    width: $countBubbleSize;
    position: relative;
    border-radius: 50%;
    top: 18px;
    float: right;

    a {
      color: white;
      line-height: $countBubbleSize;
      display: block;
      text-align: center;
      font-weight: 900;
      font-size: 13px;
    }
  }
}

section:focus {
  outline: 0;
}

.Dropdown {
  position: fixed;
  top: 77px;
  padding: 20px;
  background: white;
  border: 1px solid #e0e0e0;
  z-index: 2000;
  border-radius: 3px;
  opacity: 0;
  transform: scale(.7);
  transition: all .2s ease;
  will-change: opacity, transform;
  pointer-events: none;

  &.is-visible {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
  }

  h2 {
    padding: 0;
    margin: 0 0 15px 0;
    font-size: 24px;
    color: $neon-purple;
  }

  &:before, &:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

   &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 6px;
    margin-left: -6px;
  }
  &:before {
    border-color: rgba(224, 224, 224, 0);
    border-bottom-color: #e0e0e0;
    border-width: 7px;
    margin-left: -7px;
  }
}

#Stories_dropdown {
  left: 14px;
  width: 315px;
  transform-origin: left top;

  &:before, &:after {
    left: 5%;
  }

  .cards {
    margin: 6px 0;
    padding: 10px 0 0 0;

    li {
      padding: 0;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      .inner {
        padding: 0 0 0 15px;
        justify-content: flex-start;

        h3 {
          margin: -2px 0 2px 0;
          font-size: 19px;
          line-height: 1.3;
        }

        p {
          font-size: 13px;
          line-height: 1.4;
        }

        span {
          display: none;
        }
      }

      a {
        border: 0;
        min-height: 0;
        padding: 0;
        transition: background .3s ease;
        will-change: backgorund;
        cursor: pointer;

        &:hover {
          border: 0;
          box-shadow: none;
          // background: rgba(201, 192, 232, 0.17);

          h3, p {
            color: $neon-purple;
          }
        }
      }

      .thumb {
        width: 50px;
        height: 50px;
      }
    }
  }
}

#Chapter_dropdown {
  right: 14px;
  width: 240px;
  counter-reset: section;
  transform-origin: right top;

  &:before, &:after {
    left: 92%;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: none;
      display: block;

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;

        a {
          padding-bottom: 0;
        }
      }

      &.active {
        a {
          font-weight: 400;
          color: $neon-purple;
        }
      }

      a {
        font-size: 14px;
        color: black;
        display: block;
        padding: 8px 0;

        &:hover {
          color: $neon-purple;
        }

        &:before {
          counter-increment: section;
          content: counter(section);
          color: $neon-purple;
          font-family: 'gt_americacondensed_bold';
          margin-right: 9px;
        }
      }
    }
  }
}

.img_wrap {
  padding: 6px;
  flex: 1;
  display: inline-block;
  position: relative;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity .4s ease, transform .5s ease;
  will-change: opacity, transform;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }

  &:before {
    content: '';
    transition: opacity .8s ease;
    position: absolute;
    left: 6px;
    bottom: 6px;
    right: 6px;
    top: 6px;
    background: linear-gradient(165deg, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);
    opacity: 0;
  }

  div {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.Header {
  margin: 0 auto 60px auto;
  width: 100%;
  padding: 0;
  height: 600px;
  height: 95vh;
  display: flex;
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,0.85) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 15%,rgba(0,0,0,0.85) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 15%,rgba(0,0,0,0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  }

  .header_wrap {
    padding: 0;
    flex: 1;
    display: inline-block;
    position: relative;

    &:before {
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
    }

    div.Header--bg {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .img_wrap {
    padding: 0;
  }

  .Header--copy {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 90px;
    text-align: center;
    z-index: 10;
  }

  h1 {
   margin: 0;
   color: #fff;
   text-align: left;

   &:after {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background: white;
    margin: 25px 0 55px 3px;
   }
  }

  p {
    margin: 0;
    color: #fff;
    text-align: left;
    padding-left: 3px;
    font-size: 27px;
    max-width: 780px;
  }
}


.Text {
  padding: 40px 0 40px 6px;

  &.Headline, &.Subheader {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  p {
    max-width: 790px;
    text-align: left;

    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  h3 {
    margin: 0 0 15px;
    max-width: 790px;

    // &:after {
    //   content: '';
    //   display: block;
    //   width: 40px;
    //   height: 1px;
    //   background: black;
    //   margin: 30px 0 35px;
    // }
  }

  h3 + p {
    text-align: left;
  }
}

.Caption {
  margin: -40px auto 40px auto;
}

.Columns {
  columns: 2;
  padding: 40px 20% 40px 0;
  font-size: 16px;
  column-gap: 80px;

  p {
    display: inline;
  }
}

// LAYOUT WIDTHS

.full_bleed {
  height: 600px;
  height: 36vw;
  display: flex;
  margin-bottom: 50px;

  .img_wrap {
    padding: 0;
  }
}

.full_bleed_split {
  height: 600px;
  height: 36vw;
  display: flex;
  margin-bottom: 50px;

  .img_wrap {
    padding: 0;
    flex: .5;

    &:first-of-type{
      padding-right: 6px;
    }

    &:last-of-type{
      padding-left: 6px;
    }
  }
}

.full {
  height: 600px;
  height: 36vw;
  display: flex;
}

.half {
  height: 600px;
  height: 36vw;
  display: flex;

  & + .half {
    margin-top: -50px;
  }

  .img_wrap {
    flex: .5;
  }
}


.half_light, .half_heavy{
  height: 600px;
  height: 36vw;
  display: flex;

  & + .half_light, & + .half_heavy {
    margin-top: -50px;
  }
}

.half_light {
  .img_wrap {
    flex: .5;

    &:first-of-type {
      flex: .3;
    }

    &:last-of-type {
      flex: .7;
    }
  }
}

.half_heavy {
  .img_wrap {
    flex: .5;

    &:first-of-type {
      flex: .7;
    }

    &:last-of-type {
      flex: .3;
    }
  }
}

.triplet {
  height: 430px;
  height: 26vw;
  display: flex;

  & + .triplet {
    margin-top: -50px;
  }

  .img_wrap {
    flex: .33333333;
  }
}

.quad {
  height: 317px;
  height: 19vw;
  display: flex;

  & + .quad {
    margin-top: -50px;
  }

  .img_wrap {
    flex: .25;
  }
}

.full + .quad {
  margin-top: -50px;
}



// INDEX VIEW

$index_padding: 20px;
$reading_width: 600px;

.index {
  padding: 0;
  font-family: 'apercu_light';
  font-size: 20px;

  .Wrapper {
    width: 100%;
    margin: 0 auto 50px auto;
    padding: 0 64px;
    width: 100%;

    @media (max-width: 1024px) {
      padding: 0 48px;
    }
  }

  h1 {
    font-weight: normal;
    font-size: 46px;
    padding: 0 4px 0 0;
    margin: 0 0 8px 0;
    display: inline-block;
    letter-spacing: -.6px;

    @media (max-width: 580px) {
      font-size: 36px;
    }
  }

  h2 {
    font-weight: 300;
    font-size: 20px;
    padding: 0;
    max-width: $reading_width;
    margin: 15px 0 0 0;
    letter-spacing: -.8px;
  }

  h3 {
    letter-spacing: -1px;
  }

  h1,h2,h3 {
    font-family: spectral_bold;
  }

  h4 {
    text-align: left;
  }
}

.chrome {
  width: $col_width;
  margin: 70px 64px 0 0;

  @media (max-width: 1024px) {
    width: 100%;
    margin: 70px 0 0 0;
  }

  @media (max-width: 580px) {
    width: 100%;
    margin: 46px 0 0 0;
  }
}

.intro {
  margin: 0 0 50px 0;

  @media (max-width: 1024px) {
    margin-bottom: 40px;
  }

  @media (max-width: 580px) {
    margin: 0 0 32px 0;
  }

  p {
    max-width: 600px;
    width: 100%;
    margin: 0;
    line-height: 1.3;

    @media (max-width: 580px) {
      font-size: 18px;
    }
  }
}

.cards {
  flex-wrap: wrap;
  display: flex;
  margin: 50px 0 0 0;
  padding: 0;
  list-style: none;
  flex-direction: row;

  li {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 17px 0;

    &:hover {
      z-index: 100;
    }

    a {
      display: flex;
      color: black;
      width: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
      max-width: $reading_width;

      &:hover {
        h3{
          color: $neon-purple;
        }
      }
    }

    .thumb {
      width: 225px;
      max-width: 225px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom center;
      height: 100%;
      flex-grow: 1;
    }

    .inner {
      flex-grow: 3;
      justify-content: center;
      display: flex;
      flex-direction: column;


      span {
        font-size: 15px;
      }

      h3 {
        margin: 0;
        font-size: 27px;

      }

      p {
        margin: 0;
        line-height: 1.6;
        font-size: 17px;
      }
    }
  }
}


.shape {
  position: fixed;
  transition: transform 1s ease, opacity 1s ease;
  will-change: transform, opacity;
  z-index: -1;
  opacity: 0;
}

.shapeA {
  width: 100vw;
  height: 100vw;
  background: rgba(55, 0, 255, 0.04);
  left: -60vw;
  top: -60vw;
  transform: rotate(43deg) translateY(-110px) translateX(20px);

  &.rotated {
    transform: rotate(45deg) translateY(-100px) translateX(30px);
    opacity: 1;
  }
}

.shapeB {
  width: 50vw;
  height: 50vw;
  background: rgba(0, 255, 178, 0.08);
  right: 23vw;
  top: -39vw;
  transform: rotate(43deg) translateY(170px) translateX(-40px);

  &.rotated {
    transform: rotate(45deg) translateY(180px) translateX(-30px);
    opacity: 1;
  }
}


.divider {
  width: 100%;
  border-top: 1px solid #d8d8d8;
  margin: 120px 0;
}

.divider + .Text {
  padding-top: 0;
}

.Text + .divider {
  margin-top: 30px;
}

.Subheader + .Text {
  padding-top: 0;
}

footer {
  width: 100%;
  border-top: 1px solid #d8d8d8;
  margin: 60px 0 0 0;

  .Wrapper {
    padding: 40px 0;
    margin-bottom: 0;
    display: flow-root;
  }

  a {
    font-size: 15px;
    &:before, &:after {
      display: inline-block;
    }
    &.prev {
      float: left;
      &:before {
        content: '←';
        margin-right: 3px;
      }
    }

    &.next {
      float: right;
      &:after {
        content: '→';
        margin-left: 7px;
      }
    }
  }

  span {
    display: inline-block;
  }
}

.mapWrap {
  position: absolute;
  top: 32px;
  right: 32px;
  bottom: 32px;
  left: calc(#{$col_width} + 128px);
  transition: transform .2s ease;

  @media (max-width: 1024px) {
    position: relative;
    height: 500px;
    width: 100%;
    top: inherit;
    right: inherit;
    bottom: inherit;
    left: inherit;
  }

  @media (max-width: 580px) {
    display: none;
  }

  // &.panel_open {
  //   transform: translateY(26px)
  // }

  #map {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #D4E9ED;
  }

  .back {
    position: absolute;
    top: 16px;
    right: 16px;
    box-shadow: 0 3px 15px 0 rgba(26, 26, 62, 0.09);
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: block;
    background-image: url(/images/back.svg);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-color: #E8EAEB;
    }
  }
}


.cardRail {
  top: 16px;
}

.cardRail_left {
  left: 16px;
  overflow: scroll;
  position: fixed;
  box-shadow: 0 3px 15px 0 rgba(26, 26, 62, 0.09);
  max-height: calc(100% - 26px);
  z-index: 2;
}

.cardRail_right {
  right: 16px;
  position: absolute;
  bottom: 26px;
  top: auto;
}

.card {
  width: 350px;
  padding: 27px;
  border-radius: 4px;
  z-index: 100;
  background: white;
  font-family: 'plex_sans_regular';
  margin-bottom: 12px;
  line-height: 1.3;

  h1 {
    font-size: 24px;
    color: $dull-purple;
  }

  h2 {
    font-size: 21px;
    margin: 0 0 3px 0;
  }

  h3 {
    font-size: 19px;
    margin: 0;
    color: $dull-purple;
  }

  h4 {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .7px;
    margin: 0 0 1px 0;
    color: $dark;
    text-align: left;
    padding: 0;
  }

  p {
    font-size: 15px;
    font-family: 'plex_sans_light';
  }
}

// .introCard {
//   text-align: center;
//   box-shadow: 0 3px 15px 0 rgba(26,26,62,0.09);

//   span {
//     background-image: url(/images/home/us@2x.jpg);
//     background-position: center;
//     background-size: 140%;
//     width: 85px;
//     height: 85px;
//     display: block;
//     margin: 3px auto 15px auto;
//     border-radius: 50%;
//   }

//   p {
//     margin: 0;
//   }

//   .signature {
//     width: 139px;
//     height: 30px;
//     background-image: url(/images/home/signature.jpg);
//     background-size: 100%;
//     margin: 17px 0 -8px 0;
//     display: inline-block;
//   }
// }

.locationCard {
  text-align: left;
  position: relative;
  box-shadow: 0 3px 15px 0 rgba(26,26,62,0.09);

  h3 {
    margin-bottom: -3px;
  }
}

.sonar {
  position: absolute;
  right: 48px;
  top: 48px;


  div {
    transform-origin: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .3s ease;
  }

  .dot {
    background-color: $dark-purple;
    width: 6px;
    height: 6px;
    margin: -3px 0 0 -3px;
  }

  .inner {
    border: 3px solid $dark-purple;
    opacity: 0;
    width: 22px;
    height: 22px;
    margin: -11px 0 0 -11px;
    transform: scale(1.8);
     -webkit-animation-name:'sonar';
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-delay: 1.4s;
  }

  .outer {
    border: 3px solid $dark-purple;
    opacity: .2;
    width: 22px;
    height: 22px;
    margin: -11px 0 0 -11px;
    transform: scale(1.8);
    -webkit-animation-name:'sonar';
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
  }
}


@-webkit-keyframes 'sonar'

{
  0% {
    -webkit-transform: scale(.7);
    opacity: 0;
  }

  10% {
    opacity: .15;
  }

  60% {
    -webkit-transform: scale(1.8);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.8);
  }
}

.mainCard {
  padding-bottom: 10px;
  margin-bottom: 0;

  h1 {
    margin: 0 0 4px 0;
    display: block;
  }

  p {
    margin: 0;
    font-size: 15px;
  }

  ul, li {
    list-style: none;
  }
}

.flag-japan {
  background-image: url(/images/flags/japan.svg);
}

.flag-thailand {
  background-image: url(/images/flags/thailand.svg);
}

.flag-indonesia {
  background-image: url(/images/flags/indonesia.svg);
}

.flag-mexico {
  background-image: url(/images/flags/mexico.svg);
}

.flag-morocco {
  background-image: url(/images/flags/morocco.svg);
}

.flag-south_africa {
  background-image: url(/images/flags/south_africa.svg);
}

.flag-zimbabwe {
  background-image: url(/images/flags/zimbabwe.svg);
}

.flag-israel {
  background-image: url(/images/flags/israel.svg);
}

.flag-usa {
  background-image: url(/images/flags/usa.svg);
}

.voyages {
  margin: 0 0 6px 0;
  padding: 0 0 11px 0;
  position: relative;
  background-color: white;
  width: 100%;

  @media (max-width: 1024px) {
    margin-bottom: 0;
  }

  li {
    padding: 0;
    margin: 0 18px 0 0;
    list-style: none;
    // width: 148px;
    width:calc(#{$col_width} / 3 - 22px);
    display: inline-block;

    @media (max-width: 1024px) {
      width: calc(100% / 5 - 24px);
    }

    @media (max-width: 900px) {
      width: calc(100% / 4 - 22px);
    }

    @media (max-width: 750px) {
      width: calc(100% / 3 - 22px);
    }

    @media (max-width: 580px) {
      display: block;
      border-bottom: 1px solid #EBEBEB;
      width: 100%;
    }

    .flag {
      box-shadow: 0 0 4px 0 rgba(40,40,40,0.20);
      border-radius: 4px;
      float: left;
      margin: 0 11px 0 0;
      width: 30px;
      height: 20px;

      @media (max-width: 580px) {
        float: right;
        margin: 7px 0 0 0;
      }
    }

    a {
      display: inline-block;
      color: $dark;
      // padding: 9px;
      // border-radius: 3px;
      width: 100%;
      margin: 9px 0;
      border-bottom: 0;
      position: relative;
      transition: border .3s ease;
      will-change: background;
      transition: background .3s ease;

      @media (max-width: 580px) {
        display: block;
      }

      &:last-child {
        border: 0;
      }

      & > * {
        z-index: 2;
        position: relative;
      }

      &:hover {
        &:before {
          @include greyBG;
        }
      }

      &.border {
        // background-color: #F3F3F3;

        @media (max-width: 580px) {
          background-color: transparent;
          // border-bottom: 1px solid #EBEBEB;
        }

        &:before {
          @include greyBG;
        }
      }
    }

    p {
      font-size: 15px;
    }

    h3 {
      margin: 0;
      font-size: 16px;
      font-family: 'apercu';
      font-weight: normal;
      letter-spacing: 0;
      color: $dark;
      display: inline-block;
      line-height: 1.4;
      float: left;
      text-overflow: ellipsis;
      overflow: hidden;
      width: calc(100% - 42px);
      white-space: nowrap;

      @media (max-width: 580px) {
        float: none;
      }
    }
  }
}

.stops {

  @media (max-width: 1024px) {
    margin-bottom: 4px;
  }

  &.open{
    border-top: 1px solid #EBEBEB;
    padding-top: 32px;

    @media (max-width: 1024px) {
      padding-top: 24px;
      margin-bottom: 24px;
    }

    @media (max-width: 580px) {
      border: 0;
      padding-top: 16px;
    }

    h3 {
      display: block;
    }
  }

  h3 {
    font-size: 22px;
    font-family: 'spectral_bold';
    color: $dark;
    display: none;
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    transition: transform .4s ease, opacity .5s ease;
    will-change: maxHeight, opacity;
    max-height: 0;
    overflow: hidden;
    list-style: none;
    transform: translateY(-10px);
    opacity: 0;


    @media (max-width: 580px) {
      position: relative;
      transform: translateY(0);
      z-index: 2;
    }

    &.open{
      max-height: none;
      overflow: visible;
      transform: translateY(0);
      opacity: 1;
    }

    li {
      margin: 16px 16px 0 0;
      padding: 20px 22px;
      border: 0;
      position: relative;
      cursor: pointer;
      display: inline-block;
      width: calc(#{$col_width}/2 - 11px);
      background-color: white;
      border: 1px solid #EDEDED;
      box-shadow: 0 3px 15px 0 rgba(161, 161, 169, 0.1);
      transition: box-shadow .3s ease;
      will-change: box-shadow;
      line-height: 1;
      border-radius: 5px;

      @media (max-width: 1024px) {
        width: calc(100%/3 - 10px);
        margin: 13px 8px 0 0;
      }

      @media (max-width: 700px) {
        width: calc(100%/2 - 10px);
        margin: 13px 8px 0 0;
      }

      @media (max-width: 580px) {
        width: 100%;
        margin: 8px 0 0 0;
      }

      &:nth-child(even){
        margin-right: 0;

        @media (max-width: 1024px) {
          margin-right: 8px;
        }

        @media (max-width: 700px) {
          margin-right: 0;
        }
      }

      &:nth-child(3n+3){
        margin-right: 0;

        @media (max-width: 700px) {
          margin-right: 8px;
        }
      }

      &:nth-child(2n+2){
        @media (max-width: 700px) {
          margin-right: 0;
        }
      }

      &:hover {
        box-shadow: 0 3px 15px 0 rgba(161, 161, 169, 0.2);

        h4 {
          @media (max-width: 580px) {
            background-color: inherit;
          }
        }
      }

      &:before {
        content: '';
        background-image: url(/images/right-light.svg);
        background-repeat: no-repeat;
        width: 9px;
        height: 17px;
        position: absolute;
        right: 20px;
        top: 29px;

        @media (max-width: 580px) {
          right: 17px;
          position: absolute;
          top: 50%;
          margin-top: -6px;
          display: block;
        }
      }

      &:after {
        @media (max-width: 580px) {
          display: none;
          top: 0;
        }
      }

      &:last-child {
        margin-bottom: 0;

        &:after {
          display: none;
        }
      }

      &.match {
        &:after {
          content: '';
          opacity: 1;
          transition: opacity .3s ease;
          will-change: opacity;
          position: absolute;
          left: -24px;
          right: -18px;
          top: -17px;
          bottom: -14px;
          border-radius: 3px;
          background-color: #EFF7F8;
          z-index: 1;
        }
      }

      span {
        font-family: 'apercu';
        font-weight: normal;
        font-size: 11px;
        text-transform: uppercase;
        display: block;
        letter-spacing: .8px;
      }

      h4 {
        text-transform: none;
        margin: 0;
        color: $dark-purple;
        display: block;
        font-size: 18px;
        font-family: 'apercu_bold';
        font-weight: normal;
        letter-spacing: 0;
        line-height: 1.4;
        border-radius: 3px;
        padding: 0 14px 0 0;
        margin: 1px 0 -2px 0;
      }
    }
  }
}

.mapboxgl-popup {
  .mapboxgl-popup-tip {

  }
  .mapboxgl-popup-content {
    padding: 20px;
    width: 275px;

    .mapboxgl-popup-close-button {
      display: none;
    }

    .flag {
      box-shadow: 0 0 4px 0 rgba(40,40,40,0.20);
      border-radius: 4px;
      float: right;
      width: 41px;
      height: 27px;
      background-repeat: no-repeat;
      background-size: 100%;
    }

    h3 {
      font-size: 21px;
      margin: 0 0 3px 0;
      padding: 0;
      float: left;
    }

    p {
      clear: left;
      display: block;
      font-size: 16px;
      margin: 0;
      font-family: 'plex_sans_light';
    }

    div {
      margin-top: 22px;
      padding-top: 15px;
      border-top: 1px solid $light_border;
      font-size: 14px;
      color: #989898;
      line-height: 1.3;
    }

    a {
      color: $dark-purple;
      font-size: 16px;
      font-family: 'plex_sans_regular';
      display: block;
      background-image: url(/images/right.svg);
      background-repeat: no-repeat;
      background-position: bottom 2px right;

      &:hover {
        color: $dark;
      }
    }
  }
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  display: none!important;
}

.mapboxgl-control-container {
  .mapboxgl-ctrl-top-right {
    top: 38px;
    .mapboxgl-ctrl {
      margin: 16px 16px 0 0;

      & > button:hover {
        background-color: #E8EAEB;
      }
    }
  }
  .mapboxgl-ctrl-group {
    // background-color: $dull-purple;
    // border-radius: 30px;
    box-shadow: 0 3px 15px 0 rgba(26, 26, 62, 0.09);
    & > button {
      // display: inline-block;

      & + button {
        // border: 0;
      }
    }
  }
}
