<% image_path = '/images/' %>

<section class="Wrapper Audio">
  <audio class="audio" controls>
    <% clipURL = image_path image_path + clip %>
    <source src="<%= clipURL %>" type="audio/mp3">
  </audio>
</section>

<% if defined?(caption).nil? %>
<% else %>
  <section class="Caption Wrapper"><h4><%= caption %></h4></section>
<% end %>
