---
pageable: false
---


<div class="Wrapper">

  <div class="chrome">
    <header class="intro">
      <h1>Our Voyages</h1>  <p>Join us on our journey to the far ends of the world. We’re capturing our favorite moments & stories and sharing them here.</p>
    </header>

    <ul class="voyages">
      <li class="mexico">
        <a href="#">
          <div class="flag flag-mexico"></div>
          <h3>Mexico</h3>
        </a>
      </li>
      <li class="japan">
        <a href="#">
          <div class="flag flag-japan"></div>
          <h3>Japan</h3>
        </a>
      </li>

      <li class="southafrica">
        <a href="#">
          <div class="flag flag-southafrica"></div>
          <h3>S. Africa</h3>
        </a>
      </li>

      <li class="indonesia">
        <a href="#">
          <div class="flag flag-indonesia"></div>
          <h3>Indonesia</h3>
        </a>
      </li>

      <li class="thailand">
        <a href="#">
          <div class="flag flag-thailand"></div>
          <h3>Thailand</h3>
        </a>
      </li>

      <li class="zimbabwe">
        <a href="#">
          <div class="flag flag-zimbabwe"></div>
          <h3>Zimbabwe</h3>
        </a>
      </li>

      <li class="morocco">
        <a href="#">
          <div class="flag flag-morocco"></div>
          <h3>Morocco</h3>
        </a>
      </li>

      <li class="israel">
        <a href="#">
          <div class="flag flag-israel"></div>
          <h3>Israel</h3>
        </a>
      </li>

      <li class="singapore">
        <a href="#">
          <div class="flag flag-singapore"></div>
          <h3>Singapore</h3>
        </a>
      </li>

      <li class="usa">
        <a href="#">
          <div class="flag flag-usa"></div>
          <h3>USA</h3>
        </a>
      </li>
    </ul>

    <div class="stops">
      <div class="empty">
        <h4>Now sure what to do?</h4>
        <p>There are two ways to discover our travel stories:</p>
<!--
        <a class="click" href="#">Markers</a>
 -->
        <ul>
          <li class="country"><span></span><p>Click on a country above</p></li>
          <li class="map"><span></span><p>Zoom and click on the map’s markers</p></li>
        </ul>
      </div>

      <h3>Stories from <span></span></h3>
      <ul class="mexico">
        <li class="mexico_city">
          <span>June '17</span>
          <h4>Mexico City</h4>
        </li>
      </ul>

      <ul class="japan">
        <li class="kyoto">
          <span>May '18</span>
          <h4>Kyoto</h4>
        </li>
        <li class="nara">
          <span>May '18</span>
          <h4>Nara</h4>
        </li>
        <li class="mt_koyasan">
          <span>May '18</span>
          <h4>Mt. Koyasan</h4>
        </li>

        <li class="yoshino">
          <span>May '18</span>
          <h4>Yoshino</h4>
        </li>
        <li class="osaka">
          <span>May '18</span>
          <h4>Osaka</h4>
        </li>
        <li class="nozawa-onsen">
          <span>May '18</span>
          <h4>Nozawa Onsen</h4>
        </li>
        <li class="tokyo">
          <span>May '18</span>
          <h4>Tokyo</h4>
        </li>
      </ul>

      <ul class="southafrica">
        <li class="cape_town">
          <span>August '18</span>
          <h4>Cape Town</h4>
        </li>

        <li class="johannesburg">
          <span>Aug '18</span>
          <h4>Johannesburg</h4>
        </li>
      </ul>

      <ul class="indonesia">
        <li>
          <span>July '18</span>
          <h4>Bali - Canggu</h4>
        </li>
        <li>
          <span>July '18</span>
          <h4>Bali - Ubud</h4>
        </li>
      </ul>

      <ul class="thailand">
        <li class="chiang_mai">
          <span>June '18</span>
          <h4>Chiang Mai</h4>
        </li>
        <li class="doi_inthanon">
          <span>June '18</span>
          <h4>Doi Inthanon</h4>
        </li>
        <li class="mae_sariang">
          <span>June '18</span>
          <h4>Mae Sariang</h4>
        </li>
        <li class="mae_hong_son">
          <span>June '18</span>
          <h4>Mae Hong Son</h4>
        </li>
        <li class="pai">
          <span>June '18</span>
          <h4>Pai</h4>
        </li>
        <li class="ko_samui">
          <span>June '18</span>
          <h4>Ko Samui</h4>
        </li>
        <li class="bangkok">
          <span>June '18</span>
          <h4>Bangkok</h4>
        </li>
      </ul>

      <ul class="zimbabwe">
        <li class="victoria_falls">
          <span>August '18</span>
          <h4>Victoria Falls</h4>
        </li>

        <li class="somalisa_camp">
          <span>August '18</span>
          <h4>Somalisa Camp</h4>
        </li>
      </ul>

      <ul class="morocco">
        <li class="marrakesh">
          <span>September '18</span>
          <h4>Marrakesh</h4>
        </li>
        <li class="fes">
          <span>September '18</span>
          <h4>Fes</h4>
        </li>
        <li class="tangier">
          <span>September '18</span>
          <h4>Tangier</h4>
        </li>
      </ul>

      <ul class="israel">
        <li class="tel_aviv">
          <span>October '18</span>
          <h4>Tel Aviv</h4>
        </li>
      </ul>

      <ul class="singapore">
        <li class="singapore">
          <span>August '18</span>
          <h4>Singapore</h4>
        </li>
      </ul>

      <ul class="usa">
        <li class="zion">
          <span>September '16</span>
          <h4>Zion National Park</h4>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="cardRail_right cardRail">

    <div class="introCard card">
      <span></span>
      <h2>Greetings</h2>
      <p>We're Madi & Jesse. We call San Francisco home, but are currently eating and exploring our way through the world. Please join us!</p>
      <div class="signature"></div>
    </div>

    <div class="locationCard card">
      <h4>CURRENT LOCATION</h4>
      <h3>Kyoto, Japan</h3>
      <div class="sonar">
         <div class="dot"></div>
         <div class="inner"></div>
         <div class="outer"></div>
      </div>
    </div>
  </div> -->

  <!-- <ul class="cards">
  <%# page_articles.each_with_index do |article, i| %>
    <li>
      <%# link_to article, class: "link" do %>
      <div class="inner">
        <h3><%#= article.title %></h3>
        <%# if article.data.subheader %>
          <p><%#= article.data.subheader %></p>
        <%# end %>
      </div>
      <%# end %>
    </li>
  <%# end %>
  </ul> -->
  <div class="mapWrap">
    <div id="map"></div>
    <a class="back" href="#"></a>
  </div>
</div>
