---
pageable: false
---


<div class="Wrapper">

  <div class="chrome">
    <header class="intro">
      <h1>Our Voyages</h1>  <p>Join us on our journey to the far ends of the world. We’re capturing our favorite moments & stories and sharing them here.</p>
    </header>

    <ul class="voyages">
      <li class="mexico">
        <a href="#">
          <h3>Mexico</h3>
          <div class="flag flag-mexico"></div>
        </a>

        <ul class="stops">
          <li class="mexico_city">
            <h4>Mexico City</h4>
          </li>
        </ul>
      </li>
      <li class="japan">
        <a href="#">
          <h3>Japan</h3>
          <div class="flag flag-japan"></div>
        </a>

        <ul class="stops">
          <li class="kyoto">
            <h4>Kyoto</h4>
          </li>

          <li class="nara">
            <h4>Nara</h4>
          </li>

          <li class="mt_koyasan">
            <h4>Mt. Koyasan</h4>
          </li>

          <li class="yoshino">
            <h4>Yoshino</h4>
          </li>
          <li class="osaka">
            <h4>Osaka</h4>
          </li>
          <li class="nozawa-onsen">
            <h4>Nozawa Onsen</h4>
          </li>
          <li class="tokyo">
            <h4>Tokyo</h4>
          </li>
        </ul>
      </li>
      <li class="thailand">
        <a href="#">
          <h3>Thailand</h3>
          <div class="flag flag-thailand"></div>
        </a>
        <ul class="stops">
          <li class="chiang_mai">
            <h4>Chiang Mai</h4>
          </li>
          <li class="doi_inthanon">
            <h4>Doi Inthanon</h4>
          </li>
          <li class="mae_sariang">
            <h4>Mae Sariang</h4>
          </li>
          <li class="mae_hong_son">
            <h4>Mae Hong Son</h4>
          </li>
          <li class="pai">
            <h4>Pai</h4>
          </li>
          <li class="ko_samui">
            <h4>Ko Samui</h4>
          </li>
          <li class="bangkok">
            <h4>Bangkok</h4>
          </li>
        </ul>
      </li>
      <li class="indonesia">
        <a href="#">
          <h3>Indonesia</h3>
          <div class="flag flag-indonesia"></div>
        </a>
        <ul class="stops">
          <li>
            <h4>Bali - Canggu</h4>
          </li>
          <li>
            <h4>Bali - Ubud</h4>
          </li>
        </ul>
      </li>
      <li class="south_africa">
        <a href="#">
          <h3>South Africa</h3>
          <div class="flag flag-south_africa"></div>
        </a>
        <ul class="stops">
          <li class="cape_town">
            <h4>Cape Town</h4>
          </li>

          <li class="johannesburg">
            <h4>Johannesburg</h4>
          </li>
        </ul>
      </li>

      <li class="zimbabwe">
        <a href="#">
          <h3>Zimbabwe</h3>
          <div class="flag flag-zimbabwe"></div>
        </a>
        <ul class="stops">
          <li class="victoria_falls">
            <h4>Victoria Falls</h4>
          </li>

          <li class="somalisa_camp">
            <h4>Somalisa Camp</h4>
          </li>
        </ul>
      </li>

      <li class="morocco">
        <a href="#">
          <h3>Morocco</h3>
          <div class="flag flag-morocco"></div>
        </a>
        <ul class="stops">
          <li class="marrakesh">
            <h4>Marrakesh</h4>
          </li>
          <li class="fes">
            <h4>Fes</h4>
          </li>
          <li class="tangier">
            <h4>Tangier</h4>
          </li>
        </ul>
      </li>

      <li class="israel">
        <a href="#">
          <h3>Israel</h3>
          <div class="flag flag-israel"></div>
        </a>
        <ul class="stops">
          <li class="tel_aviv">
            <h4>Tel Aviv</h4>
          </li>
        </ul>
      </li>

      <li class="usa">
        <a href="#">
          <h3>United States</h3>
          <div class="flag flag-usa"></div>
        </a>
        <ul class="stops">
          <li class="zion">
            <h4>Zion National Park</h4>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- <div class="cardRail_right cardRail">

    <div class="introCard card">
      <span></span>
      <h2>Greetings</h2>
      <p>We're Madi & Jesse. We call San Francisco home, but are currently eating and exploring our way through the world. Please join us!</p>
      <div class="signature"></div>
    </div>

    <div class="locationCard card">
      <h4>CURRENT LOCATION</h4>
      <h3>Kyoto, Japan</h3>
      <div class="sonar">
         <div class="dot"></div>
         <div class="inner"></div>
         <div class="outer"></div>
      </div>
    </div>
  </div> -->

  <!-- <ul class="cards">
  <%# page_articles.each_with_index do |article, i| %>
    <li>
      <%# link_to article, class: "link" do %>
      <div class="inner">
        <h3><%#= article.title %></h3>
        <%# if article.data.subheader %>
          <p><%#= article.data.subheader %></p>
        <%# end %>
      </div>
      <%# end %>
    </li>
  <%# end %>
  </ul> -->
  <div class="mapWrap">
    <div id="map"></div>
    <a class="back" href="#"></a>
  </div>
</div>
