---
pageable: false
---


<div class="Wrapper">

  <div class="chrome">
    <header class="intro">
      <h1>The voyage</h1>  <p>Join us on our journey to the far ends of the world. We’re capturing our favorite moments & stories and sharing them here.</p>
    </header>

    <ul class="voyages">
      <div class="loader">
        <%= image_tag 'three-dots.svg' %>
      </div>
      <li class="mexico">
        <a href="#">
          <div class="flag flag-mexico"></div>
          <h3>Mexico</h3>
        </a>
      </li>
      <li class="japan">
        <a href="#">
          <div class="flag flag-japan"></div>
          <h3>Japan</h3>
        </a>
      </li>

      <li class="southafrica">
        <a href="#">
          <div class="flag flag-southafrica"></div>
          <h3>S. Africa</h3>
        </a>
      </li>

      <li class="indonesia">
        <a href="#">
          <div class="flag flag-indonesia"></div>
          <h3>Indonesia</h3>
        </a>
      </li>

      <li class="thailand">
        <a href="#">
          <div class="flag flag-thailand"></div>
          <h3>Thailand</h3>
        </a>
      </li>

      <li class="zimbabwe">
        <a href="#">
          <div class="flag flag-zimbabwe"></div>
          <h3>Zimbabwe</h3>
        </a>
      </li>

      <li class="morocco">
        <a href="#">
          <div class="flag flag-morocco"></div>
          <h3>Morocco</h3>
        </a>
      </li>

      <li class="israel">
        <a href="#">
          <div class="flag flag-israel"></div>
          <h3>Israel</h3>
        </a>
      </li>

      <li class="singapore">
        <a href="#">
          <div class="flag flag-singapore"></div>
          <h3>Singapore</h3>
        </a>
      </li>

      <li class="usa">
        <a href="#">
          <div class="flag flag-usa"></div>
          <h3>USA</h3>
        </a>
      </li>
    </ul>

    <div class="stops">
      <div class="empty">
        <h4>Now sure what to do?</h4>
        <p>There are two ways to discover our travel stories:</p>
        <ul class="options">
          <li class="country"><span></span><p>Click on a country above</p></li>
          <li class="map"><span></span><p>Zoom and click on the map’s markers</p></li>
        </ul>
      </div>

      <h3>Stories from <span></span></h3>
      <ul class="mexico">
        <li class="mexico_city">
          <a href="/voyage/mexico-html/">
            <span>June, 2016</span>
            <h4>Mexico City</h4>
          </a>
        </li>
      </ul>

      <ul class="japan">
        <li class="kyoto">
          <a href="/voyage/kyoto-html/">
            <span>May, 2018</span>
            <h4>Kyoto</h4>
          </a>
        </li>
        <li class="nara">
          <a href="/voyage/nara-html/">
            <span>May, 2018</span>
            <h4>Nara</h4>
          </a>
        </li>
        <li class="mt_koyasan">
          <a href="/voyage/koyasan-html/">
            <span>May, 2018</span>
            <h4>Mt. Koyasan</h4>
          </a>
        </li>

        <li class="yoshino">
          <a href="/voyage/yoshino-html/">
            <span>May, 2018</span>
            <h4>Yoshino</h4>
          </a>
        </li>
        <li class="osaka">
          <a href="/voyage/osaka-html/">
            <span>May, 2018</span>
            <h4>Osaka</h4>
          </a>
        </li>
        <li class="nozawa">
          <a href="/voyage/nozawa-html/">
            <span>May, 2018</span>
            <h4>Nozawa</h4>
          </a>
        </li>
        <li class="tokyo">
          <a href="/voyage/tokyo-html/">
            <span>May, 2018</span>
            <h4>Tokyo</h4>
          </a>
        </li>
      </ul>

      <ul class="southafrica">
        <li class="cape_town">
          <a href="#">
            <span>August, 2018</span>
            <h4>Cape Town</h4>
          </a>
        </li>

        <li class="johannesburg">
          <a href="#">
            <span>August, 2018</span>
            <h4>Johannesburg</h4>
          </a>
        </li>
      </ul>

      <ul class="indonesia">
        <li class="canggu">
          <a href="/voyage/canggu-html/">
            <span>July/August, 2018</span>
            <h4>Canggu</h4>
          </a>
        </li>
        <li class="ubud">
          <a href="/voyage/ubud-html/">
            <span>July, 2018</span>
            <h4>Ubud</h4>
          </a>
        </li>
        <li class="lovina">
          <a href="/voyage/lovina-html/">
            <span>August, 2018</span>
            <h4>Lovina</h4>
          </a>
        </li>
      </ul>

      <ul class="thailand">
        <li class="chiang_mai">
          <a href="/voyage/chiangmai-html/">
            <span>June, 2018</span>
            <h4>Chiang Mai</h4>
          </a>
        </li>
        <li class="mae_hong_son">
          <a href="/voyage/maehongson-html/">
            <span>June, 2018</span>
            <h4>Mae Hong Son</h4>
          </a>
        </li>
        <li class="pai">
          <a href="/voyage/pai-html/">
            <span>June, 2018</span>
            <h4>Pai</h4>
          </a>
        </li>
        <li class="ko_samui">
          <a href="/voyage/kohsamui-html/">
            <span>June, 2018</span>
            <h4>Koh Samui</h4>
          </a>
        </li>
        <li class="krabi">
          <a href="/voyage/krabi-html/">
            <span>June, 2018</span>
            <h4>Krabi</h4>
          </a>
        </li>
      </ul>

      <ul class="zimbabwe">
        <li class="victoria_falls">
          <a href="#">
            <span>August, 2018</span>
            <h4>Victoria Falls</h4>
          </a>
        </li>

        <li class="somalisa_camp">
          <a href="#">
            <span>August, 2018</span>
            <h4>Somalisa Camp</h4>
          </a>
        </li>
      </ul>

      <ul class="morocco">
        <li class="marrakesh">
          <a href="#">
            <span>September, 2018</span>
            <h4>Marrakesh</h4>
          </a>
        </li>
        <li class="fes">
          <a href="#">
            <span>September, 2018</span>
            <h4>Fes</h4>
          </a>
        </li>
        <li class="sahara">
          <a href="#">
            <span>September, 2018</span>
            <h4>Sahara Dessert</h4>
          </a>
        </li>
      </ul>

      <ul class="israel">
        <li class="tel_aviv">
          <a href="#">
            <span>October, 2018</span>
            <h4>Tel Aviv</h4>
          </a>
        </li>
      </ul>

      <ul class="singapore">
        <li class="singapore">
          <a href="#">
            <span>August, 2018</span>
            <h4>Singapore</h4>
          </a>
        </li>
      </ul>

      <ul class="usa">
        <li class="zion">
          <a href="#">
            <span>September, 2018</span>
            <h4>Zion National Park</h4>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="cardRail_right cardRail">

    <div class="introCard card">
      <span></span>
      <h2>Greetings</h2>
      <p>We're Madi & Jesse. We call San Francisco home, but are currently eating and exploring our way through the world. Please join us!</p>
      <div class="signature"></div>
    </div>

    <div class="locationCard card">
      <h4>CURRENT LOCATION</h4>
      <h3>Kyoto, Japan</h3>
      <div class="sonar">
         <div class="dot"></div>
         <div class="inner"></div>
         <div class="outer"></div>
      </div>
    </div>
  </div> -->

  <!-- <ul class="cards">
  <%# page_articles.each_with_index do |article, i| %>
    <li>
      <%# link_to article, class: "link" do %>
      <div class="inner">
        <h3><%#= article.title %></h3>
        <%# if article.data.subheader %>
          <p><%#= article.data.subheader %></p>
        <%# end %>
      </div>
      <%# end %>
    </li>
  <%# end %>
  </ul> -->
  <div class="mapWrap">
    <div id="map"></div>
    <a class="back" href="#">Back to world view</a>
  </div>
</div>
